{% block footer %}
<html>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn  btn-floating m-1" href="#!" role="button"
          ><img class="img_footer" src="../static/core/img/facebook.png" alt="">
        </a>
  
        <!-- Twitter -->
        <a class="btn  btn-floating m-1" href="#!" role="button"
          ><img class="img_footer" src="../static/core/img/twitter.png" alt="">
        </a>
    
        <!-- Instagram -->
        <a class="btn  btn-floating m-1 " href="#!" role="button"
          ><img class="img_footer" src="../static/core/img/instragram.png" alt="">
        </a>
  
        
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Suscribete a nuestro newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input placeholder="Ingresa tu email" type="email" id="form5Example21" class="form-control" />
                <label  class="form-label" for="form5Example21"></label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                ENVIAR
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Centro Médico Galenos está en constante exapansión para todos nuestros pacientes, sabemos que la salud
          es lo más importante para todos los chilenos, queremos lo mejor para tí y tu familia
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Pacientes</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Laboratorio</a>
              </li>
              <li>
                <a href="#!" class="text-white">Imageneología</a>
              </li>
              <li>
                <a href="#!" class="text-white">Procedimientos</a>
              </li>
              <li>
                <a href="#!" class="text-white">Agenda tu hora</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sobre Nosotros</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Mision</a>
              </li>
              <li>
                <a href="#!" class="text-white">Vision</a>
              </li>
              <li>
                <a href="#!" class="text-white">Historia</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Doctores</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Especialidad</a>
              </li>
              <li>
                <a href="#!" class="text-white">Nuestro Equipo</a>
              </li>
              <li>
                <a href="#!" class="text-white">Plantel</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">FAQ</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Fonasa</a>
              </li>
              <li>
                <a href="#!" class="text-white">Isapre</a>
              </li>
              <li>
                <a href="#!" class="text-white">Reserva de horas</a>
              </li>
              <li>
                <a href="#!" class="text-white">Resultado de exámenes</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">CentroMedicoGalenos.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </html>
{% endblock %}