{% extends 'base.html' %} {% block title %} home {% endblock %} {% block body %}
<!--carrousel inicio-->
<div class="container">
  <div class="row-carousel">
    <div class="col-sm-12">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../static/core/img/saladeespera.jpg"
              class="d-block w-100"
              alt="..."
              width="400px"
              height="400px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../static/core/img/equipomedicocarrousel.png"
              class="d-block w-100"
              alt="..."
              width="400px"
              height="400px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../static/core/img/equipopersonasmedico.jpg"
              class="d-block w-100"
              alt="..."
              width="400px"
              height="400px"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!--carrousel fin -->

<!-- INICIO TARJETA-->
<!-- <div class="container_habitacion col-lg-4 col-sm-12 col-md-6">
  <div style="display:flex; margin-right:auto; margin-left:auto;" class="campos_tarjeta cont_imagen">
    <img  class="imagen" src="../static/core/img/doctor male 2.jpg" alt="" />
  </div>
  <div class="campos_tarjeta titulo">
  </div>
  <div class="campos_tarjeta nombremedico">
    Nombre: Miguel Jose Carreño Soto
  </div>
  <div class="campos_tarjeta servicios">Especilidad: Cardio cirujano</div>
  <div class="campos_tarjeta estadia">Precio por cita: $ 20.000</div>
  <div class="campos_tarjeta piso">oficina del medico: Piso numero 2</div>

  <div class="campos_tarjeta reservar">
    <button class="button_reserva">reservar</button>
  </div>
</div>
<div class="container_habitacion col-lg-4 col-sm-12 col-md-6">
    <div style="display:flex; margin-right:auto; margin-left:auto;" class="campos_tarjeta cont_imagen">
      <img  class="imagen" src="../static/core/img/doctora female 2.jpg" alt="" />
    </div>
    <div class="campos_tarjeta titulo">
    </div>
    <div class="campos_tarjeta nombremedico">
      Nombre: Miguel Jose Carreño Soto
    </div>
    <div class="campos_tarjeta servicios">Especilidad: Cardio cirujano</div>
    <div class="campos_tarjeta estadia">Precio por cita: $ 20.000</div>
    <div class="campos_tarjeta piso">oficina del medico: Piso numero 2</div>
  
    <div class="campos_tarjeta reservar">
      <button class="button_reserva">reservar</button>
    </div>
</div>
<div class="container_habitacion col-lg-4 col-sm-12 col-md-6">
    <div style="display:flex; margin-right:auto; margin-left:auto;" class="campos_tarjeta cont_imagen">
      <img  class="imagen" src="../static/core/img/centroMedico.png" alt="" />
    </div>
    <div class="campos_tarjeta titulo">
    </div>
    <div class="campos_tarjeta nombremedico">
      Nombre: Miguel Jose Carreño Soto
    </div>
    <div class="campos_tarjeta servicios">Especilidad: Cardio cirujano</div>
    <div class="campos_tarjeta estadia">Precio por cita: $ 20.000</div>
    <div class="campos_tarjeta piso">oficina del medico: Piso numero 2</div>
  
    <div class="campos_tarjeta reservar">
      <button class="button_reserva">reservar</button>
    </div>
</div> -->
<!-- FIN TARJETA -->
{% endblock %}
